#root {
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.strategy-app {
  .section {
    display: inline-block;
  }
}

.move-button {
  @apply bg-[#ca8080] text-white rounded hover:bg-[#a34b4b] transition-colors;
}

.small-button {
  @apply px-4 py-2 text-white rounded transition-colors;
}

.button-bg-red {
  @apply bg-red-800  hover:bg-red-900;
}

.button-bg-blue {
  @apply bg-cyan-600 hover:bg-cyan-800;
}

.big-button {
  color: black;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  min-width: 120px;
  height: 90px;
  font-size: 18px;
  @apply w-20 ml-4 mr-2 items-center flex flex-col justify-center relative;
}

.button-green {
  background-color: lightgreen;
  border: 1px solid green;
}

.button-red {
  background-color: lightcoral;
  border: 1px solid red;
}

.undo-color {
  @apply bg-[#596c86];
}

.scouter-input {
  h3,
  h2,
  button {
    display: inline;
  }
  to {
    transform: rotate(360deg);
  }
}

.succesfulness {
  position: absolute;
  top: 80%;
  left: 45%;
  width: 80px;
  button {
    font-size: 20px;
  }
}

.map-amp {
  h3,
  h2,
  button {
    display: inline;
    position: relative;
  }
  width: 40%; /* Adjust as needed */
  height: 20%;
  padding: 20px;
}

.speaker-auto {
  h3,
  h2,
  button {
    display: inline;
    position: relative;
  }
  width: 70%;
}

.map-options {
  width: 55%; /* Adjust as needed */
  height: 20%;
  padding: 20px;
}

.map-buttons {
  grid-gap: 0px;
  display: flex;
  justify-content: space-between;
}

.cool-radio-input {
  height: 20px;
  width: 20px;
}

.auto-chart {
  display: flex;
}

.team-picker {
  select,
  input,
  label {
    font-size: 20px;
  }
}

.nav-bar-top {
  background: #333;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Center the items */
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}

.nav-bar li {
  margin-right: 1rem;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

.nav-bar a:hover {
  text-decoration: underline;
}
